<nav-bar></nav-bar>
<div class="app-body-inner ng-scope"  style="padding-top:64px; overflow: hidden" ng-controller="ChatCtrl as vm">
<div class="row-col row-col-xs b-b">
<!-- Chat List -->
<div class="col-md-2 white bg b-r">
    <div class="box row-col">
        <div class="box-header b-b">
            <div class="input-group">
                <span class="input-group-addon no-border no-bg"><i class="fa fa-search"></i></span>
                <input type="text" ng-model="vm.chatsSearchText" class="form-control no-border no-bg" placeholder="Search all contacts">
            </div>
        </div>
        <div class="row-row">
            <div class="row-body scrollable hover">
                <div class="row-inner">
                    <div class="list inset">
                        <a class="list-item pointer"
                           ng-class="{'bg-faded': c.buddy.username == vm.buddy.username}"
                           ng-repeat="c in vm.chats | filter:vm.chatsSearchText"
                           ng-click="vm.switchBuddy(c.buddy)">
                            <div class="list-left">
                                    <span class="w-40 avatar">
                                        <img ng-src="/img/{{ c.buddy.picture_name }}" class="img-circle">
                                        <i class="on b-white bottom" ng-show="c.last_message.read"></i>
                                    </span>
                            </div>
                            <div class="list-body">
                                {{ c.buddy.username }}
                                <small class="block">
                                    <span ng-if="c.last_message.sender == 'user'">me:</span>
                                    {{ c.last_message.content }}
                                </small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Chats List -->

<!-- Chat room -->
<div class="col-md-6">
    <div class="box row-col" style="min-height:450px" ng-if="!vm.buddy">
        <div class="box-header b-b">
            <h3>Void</h3>
        </div>
        <div class="box-body">
            <h2 class="pull-center padding margin">Stop pretending you are talking to someone</h2>
        </div>
    </div>
    <div class="box row-col" style="min-height:450px" ng-if="vm.buddy">
        <div class="box-header b-b">
            <strong>{{ vm.buddy.username }}</strong>
        </div>
        <div class="row-row dker">
            <div class="row-body" scroll-glue>
                <div class="row-inner">
                    <div class="p-a-md">
                        <div class="m-b" ng-repeat="m in vm.messages.slice().reverse()">
                            <!--text message-->
                            <div ng-if="m.type == 'text'">
                                <a href ng-class="{ 'pull-right w-40 m-l-sm': vm.isSelf(m.sender), 'pull-left w-40 m-r-sm': !vm.isSelf(m.sender) }">
                                    <img src="../assets/images/a3.jpg" class="w-full img-circle" alt="...">
                                </a>
                                <div class="clear" ng-class="{ 'text-right': vm.isSelf(m.sender), 'text-left': !vm.isSelf(m.sender) }">
                                    <div ng-class="{ 'p-a p-y-sm info inline text-left r': vm.isSelf(m.sender), 'p-a p-y-sm dark-white inline r': !vm.isSelf(m.sender) }"
                                        ng-bind-html="m.content | caption">
                                    </div>
                                    <div class="text-muted text-xs m-t-xs">{{ m.created_time | date:'medium'}}</div>
                                </div>
                            </div>
                            <!--/ text message-->

                            <!--image message-->
                            <div ng-if="m.type == 'image'">
                                <a href ng-class="{ 'pull-right w-40 m-l-sm': vm.isSelf(m.sender), 'pull-left w-40 m-r-sm': !vm.isSelf(m.sender) }">
                                    <img src="../assets/images/a3.jpg" class="w-full img-circle" alt="...">
                                </a>
                                <div class="clear" ng-class="{ 'text-right': vm.isSelf(m.sender), 'text-left': !vm.isSelf(m.sender) }">
                                    <div ng-class="{ 'p-a p-y-sm info inline text-left r': vm.isSelf(m.sender), 'p-a p-y-sm dark-white inline r': !vm.isSelf(m.sender) }">
                                        <div class="m-t-xs">
                                            <div class="box img-responsive">
                                                <img ng-src="/img/{{ m.image_name }}" style="width: 100%">
                                            </div>
                                        </div>
                                        <div class="m-t-xs">
                                            <div ng-class="{ 'p-a p-y-sm info inline text-left r': vm.isSelf(m.sender), 'p-a p-y-sm dark-white inline r': !vm.isSelf(m.sender) }">
                                                {{ m.content }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-muted text-xs m-t-xs">{{ m.created_time | date:'medium'}}</div>
                                </div>
                            </div>
                            <!--/ image message-->

                            <!--media message-->
                            <div ng-if="m.type == 'media'">
                                <a href ng-class="{ 'pull-right w-40 m-l-sm': vm.isSelf(m.sender), 'pull-left w-40 m-r-sm': !vm.isSelf(m.sender) }">
                                    <img src="../assets/images/a3.jpg" class="w-full img-circle" alt="...">
                                </a>
                                <div class="clear" ng-class="{ 'text-right': vm.isSelf(m.sender), 'text-left': !vm.isSelf(m.sender) }">
                                    <div class="m-t-xs">
                                        <div class="box col-md-6 col-md-offset-6">
                                            <div class="item dark">
                                                <div style="position:relative; overflow:hidden; padding-bottom:100%;">
                                                    <a href ui-sref="public.media({ mediaId: m.media._id })">
                                                        <img ng-src="{{ m.media.preview_url }}" class="w-full img-responsive" style="position:absolute;">
                                                    </a>
                                                </div>
                                                <div class="bottom gd-overlay p-a-xs">
                                                    <a href class="text-md block p-x-sm">{{ m.media.shop.username }}</a>
                                                </div>
                                            </div>
                                            <div class="p-a">
                                                <div class="text-muted m-b-xs">
                                                    <span class="m-r">{{ m.media.created_time | date: 'medium' }}</span>
                                                </div>
                                                <p class="h-3x" ng-bind-html="m.media.caption | caption"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-t-xs">
                                        <div ng-class="{ 'p-a p-y-sm info inline text-left r': vm.isSelf(m.sender), 'p-a p-y-sm dark-white inline r': !vm.isSelf(m.sender) }">
                                            {{ m.content }}
                                        </div>
                                    </div>
                                    <div class="text-muted text-xs m-t-xs">{{ m.created_time | date: 'medium' }}</div>
                                </div>
                            </div>
                            <!--/ media message-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer b-t">
            <form>
                <div class="input-group input-group-sm">
                    <textarea class="form-control no-border msd-elastic"
                              rows="1" style="max-width: 99%; resize: none;" placeholder="Say something..."
                              ng-keydown="vm.sendMessage($event)" ng-model="vm.message.content" required></textarea>
                        <span class="input-group-btn">
                            <a href class="btn white no-shadow no-border" data-toggle="collapse" data-target="#dropzone">
                                <i class="fa fa-camera text-muted"></i>
                            </a>
                            <button class="btn white no-shadow no-border" type="button" ng-click="vm.sendMessage()">
                                <i class=" material-icons md-18">&#xe163;</i>
                            </button>
                        </span>
                </div>
            </form>
            <div id="dropzone" class="collapse padding m-b-md">
                <file-uploader delegate="vm"></file-uploader>
            </div>
        </div>
    </div>
</div>
<!-- /column -->
</div>
</div>