<div ng-controller="MediaCtrl as vm" xmlns="http://www.w3.org/1999/html">
    <nav-bar delegate="vm"></nav-bar>
    <div class="container-fluid" style="padding-top:72px; max-height: 1024px">
        <div class="row" style="padding: 12px">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <!--media card -->
                <div class="col-sm-12 col-md-7">
                    <div class="box">
                        <div class="item dark">
                            <img ng-src="{{ media.image_url }}" class="w-full">
                        </div>
                        <div class="pull-right">
                            <a class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset"
                               ng-click="vm.toggleBookmark()" ng-class="{ 'red': vm.isBookmarked, 'white': !vm.isBookmarked }">
                                <i class="material-icons md-24" ng-show="vm.isBookmarked">&#xe866;</i>
                                <i class="material-icons md-24" ng-show="!vm.isBookmarked">&#xe867;</i>
                            </a>
                            <a class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset primary"
                               ui-sref="private.chat({ buddyUsername: vm.media.shop.username, mediaId: vm.media._id })">
                                <i class="material-icons md-24">&#xe854;</i>
                            </a>
                        </div>
                        <div class="p-a">
                            <div class="text-muted m-b-xs">
                                <span class="m-r">{{ media.created_time | date: 'medium' }}</span>
                            </div>
                            <p ng-bind-html="media.caption | caption"></p>
                        </div>
                    </div>

                </div>
                <!--/ media card-->

                <!--product details-->
                <div class="col-sm-12 col-md-5">

                    <div class="row">
                        <div class="box col-md-12">
                            <div class="box-header primary">
                                <div class="md-form-group">
                                    <input class="md-input" value="Graffiti #1" style="">
                                    <label>Title</label>
                                </div>
                            </div>
                            <div class="box-body">
                                <p class="m-a-0">Details</p>

                                <div class="md-form-group">
                                    <input class="md-input" autocomplete="off" value="{{ 98 | currency}}" style="">
                                    <label>Price</label>
                                </div>
                                <div class="md-form-group">
                                    <textarea class="md-input" rows="2" autocomplete="off" style=""></textarea>
                                    <label>Description</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">Category</label>
                                    <div class="col-sm-10">
                                        <select class="form-control">
                                            <option value="">Choose a category...</option>
                                            <option ng-repeat="(key, value) in dict.categories" value="{{key}}">{{value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <label class="md-switch">
                                    <input type="checkbox"> <i class="primary"></i>
                                    Listed
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--shop card-->
                    <div class="row">
                        <shop-card shop="media.shop" class="col-md-12"></shop-card>
                    </div>

                    <div class="row" style="padding: 0 12px 0 12px">

                        <div class="box">
                            <div class="box-header">
                                <h3>Comments <span class="label success">2</span></h3>
                            </div>
                            <div class="box-body">
                                <div class="streamline m-b m-l">
                                    <div class="sl-item">
                                        <div class="sl-left"><img src="../assets/images/a0.jpg" class="img-circle"></div>
                                        <div class="sl-content">
                                            <div class="sl-date text-muted">2 minutes ago</div>
                                            <div class="sl-author"><a href="">Peter Joo</a></div>
                                            <div>
                                                <p>This is a real masterpiece</p>
                                            </div>
                                            <div class="sl-footer"><a href="" data-toggle="collapse" data-target="#reply-1"><i class="fa fa-fw fa-mail-reply text-muted"></i> Reply</a></div>
                                            <div class="box collapse m-a-0 b-a" id="reply-1">
                                                <form class="ng-pristine ng-valid"><textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea></form>
                                                <div class="box-footer clearfix">
                                                    <button class="btn btn-info pull-right btn-sm">Post</button>
                                                    <ul class="nav nav-pills nav-sm">
                                                        <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-camera text-muted"></i></a></li>
                                                        <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-video-camera text-muted"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sl-item">
                                        <div class="sl-left"><img src="../assets/images/a2.jpg" class="img-circle"></div>
                                        <div class="sl-content">
                                            <div class="sl-date text-muted">8:30</div>
                                            <div class="sl-author"><a href="">Moke</a></div>
                                            <div>
                                                <p>Give me a message <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
                                            </div>
                                            <div class="sl-footer"><a href="" data-toggle="collapse" data-target="#reply-2"><i class="fa fa-fw fa-mail-reply text-muted"></i> Reply</a></div>
                                            <div class="box collapse m-a-0 b-a" id="reply-2">
                                                <form class="ng-pristine ng-valid"><textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea></form>
                                                <div class="box-footer clearfix">
                                                    <button class="btn btn-info pull-right btn-sm">Post</button>
                                                    <ul class="nav nav-pills nav-sm">
                                                        <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-camera text-muted"></i></a></li>
                                                        <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-video-camera text-muted"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Arts-->
                <span class="label label-lg primary pos-rlt m-r-xs">
                    <b class="arrow bottom b-primary"></b>
                    You may also like
                </span><br><br>
                <div class="col-md-12">
                    <div class="row">
                        <media-card media="art" class="col-md-3" ng-repeat="art in arts"></media-card>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
